.linha-chkMark{
    
    text-align: left;
    padding-top: 10%;
}

.linha-co2Graph{
    text-align: left;
    padding-top: 10%;
}

.linha-susteinability{
    text-align: left;
    padding-top: 10%;
}

.container{
    background-color: honeydew  ;
  }

.verified-txt{
    text-align: left;
}