.logo {
    width: 25%;
    text-align: center;
}

.linha-logo{
    text-align: center;
    padding-top: 2%;
}



.texto-titulo {
    text-align: center;
    color: #41ACA6;
    font-weight: 400;  
    margin-left: 20%;
}

.borda-campo {
    text-align: center;
    background-color: #A6A6A6;
    height: 48px;
    width: 205px;
    justify-content: center;
    padding: 3%;
    margin-left: 20%;
    border-radius: 26px;
}

.input-login{
    border-radius: 20px;
    width: 185px;
}

.input-login::placeholder{
    text-align: center;
}

.botao-entrar{
    background-color: #358e89;
    border: 1px solid #358e89;
    width: 150px;
    margin-top: -2%;
}

.texto-register{
    text-align: center;
    margin-left: 8%;
    margin-top: 4%;
}

.circulo{
    display: flex;
    border-radius: 100px;
}

.div-back{
    position: relative;
}

.div-botao-voltar{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 84%;
}

.div-botao-confirmar{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 7%;
}

.botao-confirmar {
 background-color: #737373;
}

.botao-voltar {
    background-color: #358e89;
}

.texto-botao{
    color: white;
}