<div class="container">
    <div class="row">
        <div class="col-lg-12 linha-logo">
            <img src="../../assets/logo.jpg" alt="logo" class="logo">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 div-back">
            
        </div>
        <div class="col-lg-3">
           <h2 class="texto-titulo mt-3 mb-4">Choose</h2>
           <img src="../../assets/globo.jpg" alt="Globo" class="img-globo">
           <form>
            <div class="col-lg-10 borda-campo">
                <input type="text" name="Find" id="Find" class="input-login" placeholder="Find one address...">
           </div>
           </form>   
           <div class="row linha-menu">
                <div class="col-lg-4 icon-menu">
                    <a routerLink="/find">HOME</a>
                </div>
                <div class="col-lg-4 icon-menu">
                    <a routerLink="/profile">USER</a>
                </div>
                <div class="col-lg-4 icon-menu">
                    <a routerLink="/report">SEARCH</a>
                </div>
           </div>    
        </div>
        <div class="col-lg-4 div-back">
             
        </div>
    </div>
</div>